$colors: (
    'header_top': #56a131, // фон верхней шапки
    'text': #545454, // цвет текста
    'accent': #ffe600, // акцентный цвет (кнопки)
    'menu-link_hover': #56a131, // ховер-эффект ссылок в навигационном меню
    'difference_bg': #eeeedd, // фон секции "отличия"
    'advantages_bg': #e1ffa6, // фон секции "преимущества"
    'buy_bg': #eeeedd, // фон секции "как купить теплицу"
    'contacts_bg': #56a131, // фон секции "контакты"
    'footer_top': #56a131, // фон верхнего футера
    'footer_bottom': #555555, // фон нижнего футера
);

$break_xl: 1200px;
$break_lg: 992px;
$break_md: 768px;
$break_sm: 576px;

$font-family: 'Roboto', sans-serif;

$border-radius: 1rem;

$transition-time: 0.5s;

$box-shadow: 0 0 20px rgb(0 0 0 / 20%);