.calculator {
    &__item {
        margin-bottom: 20px;
    }

    &__item-title {
        margin-bottom: 5px;

        font-weight: 700;
        font-size: 18px;
    }

    &__item-box {
        display: flex;
    }

    input[type=radio] {
        display: none;
    }

    &__item-span {
        width: 45px;
        height: 45px;
        margin-right: 10px;

        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 13px;
        text-align: center;
        text-transform: uppercase;
        color: get-color('text');

        background-color: get-color('accent');
        border-radius: 50%;
        cursor: pointer;

        transition: background-color $transition-time;

        &:hover {
            background-color: #ffff00;
        }
    }

    input[type=radio]:checked + .calculator__item-span {
        color: #fff;

        background-color: #00a21d;
    }

    &__price-start {
        display: flex;
    }

    &__price-old {
        margin-right: 5px;

        text-decoration: line-through;
    }

    &__price-discount {
        padding: 0 5px 0 15px;
        margin-left: 15px;

        text-align: center;

        background-color: get-color('accent');
        clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);

        @media (max-width: $break_xl) {
            margin-left: 5px;
        }
    }

    &__price-new {
        font-weight: 700;
        font-size: 20px;
        color: red;
    }

    &__price-new-currency {
        font-weight: 700;
        font-size: 20px;
        color: red;
    }
}