.callback-btn {
    display: flex;
    align-items: center;
    padding: 12px 20px;

    color: get-color('text');
    font-weight: 500;

    background: get-color('accent');
    border-radius: 20px;

    &:hover {
        .callback-btn__icon {
            animation: change-position 2s infinite; 
        }
    }

    &__text {
        padding-left: 8px;
    }
}