.callback-btn {
    display: flex;
    align-items: center;
    padding: 12px 20px;

    color: get-color('text');
    font-weight: 500;

    background: get-color('accent');
    border-radius: 20px;

    &__icon {
        transition: transform 0.8s;
    }

    &:hover {
        .callback-btn__icon {
            transform: rotate(360deg);
        }
    }

    &__text {
        padding-left: 8px;
    }
}