.buy {
    background: get-color('buy_bg');

    &__wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 50px 0 -20px;

        text-align: center;

        @media (max-width: $break_sm) {
            margin: 30px 0 -20px;
        }
    }

    &__item {
        width: 25%;
        margin-bottom: 20px;

        >* {
            &:not(:last-child) {
                margin-bottom: 20px;
            }
        }

        @media (max-width: $break_lg) {
            width: 50%;
        }

        @media (max-width: $break_sm) {
            width: 100%;
        }
    }

    &__item-img {
        margin: 0 auto;

        border-radius: 50%;
    }
}