.catalog {
    &__wrap {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 50px 0 -30px;

        @media (max-width: $break_lg) {
            justify-content: center;
        }
    }

    &__card {
        width: 30%;
        margin-bottom: 30px;

        box-shadow: 0 2px 18px rgb(0 0 0 / 11%);

        transition: box-shadow $transition-time;

        &:hover {
            box-shadow: 0 9px 29px rgb(0 0 0 / 16%);
        }

        > * {
            &:not(:first-child) {
                padding: 0 20px;

                @media (max-width: 500px) {
                    padding: 0 15px;
                }
            }
        }

        @media (max-width: $break_xl) {
            width: 32%;
        }

        @media (max-width: $break_lg) {
            width: 43%;

            &:nth-child(odd) {
                margin-right: 30px;
            }
        }

        @media (max-width: $break_md) {
            width: 60%;

            &:nth-child(odd) {
                margin-right: 0;
            }
        }

        @media (max-width: $break_sm) {
            width: 80%;
        }

        
        @media (max-width: 500px) {
            width: 100%;
        }
    }

    // card-header
    &__card-header {
        position: relative;
        margin-bottom: 20px;
    }

    &__card-icon {
        position: absolute;
        top: -10px;
        right: -20px;

        width: 85px;
        height: 85px;
    }

    &__card-img {
        height: 230px;
        width: 100%;

        @media (max-width: 500px) {
            height: auto;
        }
    }
    // ./card-header

    // card-main
    &__card-main {
        > * {
            margin-bottom: 20px;
        }
    }

    &__card-title {
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;

        @media (max-width: 500px) {
            font-size: 17px;
        }
    }

    &__card-content {
        > * {
            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }
    }

    &__text-span {
        font-weight: 700;
    }

    &__price-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 0;
    }

    &__modal-icon {
        transition: transform $transition-time;
    }

    &__modal-btn {
        display: flex;
        align-items: center;
        padding: 12px 20px;
    
        font-weight: 500;
        color: #fff;

        background-color: #00a21d;
        border-radius: 25px;

        &:hover { 
            color: #fff; // if you use bootstrap
            
            .catalog__modal-icon {
                transform: translateX(2px);
            }
        }

        @media (max-width: 500px) {
            padding: 12px;
        }
    }

    &__modal-span {
        padding-right: 8px;
    }
    // ./card-main

    // card-footer
    &__card-footer {
        margin-bottom: 20px;
    }
    
    &__footer-form {
        display: flex;
        align-items: center;
    }

    &__callback-input {
        width: 60%;
        padding: 12px 20px;

        outline: none;
        border: 1px solid #ccc;
        border-radius: 20px;
    }

    &__callback-icon {
        transition: transform $transition-time;
    }

    &__callback-btn {
        display: flex;
        align-items: center;
        padding: 12px 20px;
        margin-left: 20px;
    
        font-weight: 500;
        color: get-color('text');

        background-color: get-color('accent');
        border-radius: 25px;

        &:hover { 
            .catalog__callback-icon {
                transform: translateX(2px);
            }
        }

        @media (max-width: 500px) {
            margin-left: 10px;
        }
    }

    &__callback-span {
        padding-right: 8px;
    }
    // ./card-footer
}