.header {
    color: #fff;
    line-height: 21px;

    &__top {
        background: get-color('header_top');

        @media (max-width: $break_xl) { // hide header_top
            display: none;
        }
    }

    &__container-top {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 35px 20px;

        >* {
            &:not(:last-child) {
                padding-right: 30px;
            }
        }
    }

    &__container-bottom {
        position: relative;

        display: flex;
        justify-content: flex-end;
        align-items: center;

        @media (max-width: $break_xl) {
            justify-content: space-between;
            padding: 15px 20px;

            box-shadow: $box-shadow;
        }
    }

    &__logo-link { 
        @media (max-width: $break_xl) { // hide main logo
            display: none;
        }
    }

    &__logo {
        position: absolute;
        top: -80px;
        left: 20px;

        width: 168px;
        height: 135px;
    }

    &__mobile-logo {
        display: none;
        width: 198px;
        height: 45px;

        @media (max-width: $break_xl) { // show mobile logo
            display: flex;
        }
    }

    &__phones {
        display: none;

        @media (max-width: $break_xl) { // show block with phones
            display: flex;
        }

        @media (max-width: $break_sm) {
            display: none;
        }
    }

    &__phone {
        color: get-color('text');

        &:hover {
            color: get-color('text'); // if you use bootstrap
        }
    }

    &__cities-btn {
        color: #fff;

        &:hover {
            color: rgba(255, 255, 255, .7);
        }
    }

    &__cities-btn-text {
        border-bottom: 1px dotted #fff;

        transition: color $transition-time;
    }
}

// styles for fixed header
.header__fixed {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10;

    background: #fff;
    box-shadow: $box-shadow;

    animation: show-header 1s;

    .header__container-bottom {
        justify-content: space-between;
    }

    .header__logo-link {
        display: none;
    }

    .header__phones {
        @media (max-width: $break_sm) {
            display: none;
        }
    }

    .header__mobile-logo {
        display: flex;
    }
}