.modal-card {
    &__descr {
        margin-bottom: 20px;
    }

    &__center {
        display: flex;

        @media (max-width: 991px) {
            flex-direction: column;
        }
    }

    &__slider {
        width: 60%;
        margin-right: 30px;

        @media (max-width: 991px) {
            width: 100%;
            margin-right: 0;
            margin-bottom: 30px;
        }

        .swiper-button-next, .swiper-button-prev {
            padding: 25px;
    
            color: #fff;
        
            background: rgba(0, 0, 0, 0.7);
            border-radius: 50%;

            @media (max-width: 500px) {
                padding: 0;

                color: #000;

                background: transparent;
                border-radius: none;
            }
        }
    
        .swiper-button-next:after, .swiper-button-prev:after {
            font-size: 15px;

            @media (max-width: 500px) {
                font-size: 20px;
            }
        }
    }

    &__callback-form {
        display: flex;
        flex-direction: column;
        width: 200px;
    }

    &__callback-input {
        padding: 12px 20px;
        margin-bottom: 10px;

        outline: none;
        border: 1px solid #ccc;
        border-radius: 20px;
    }

    &__callback-icon {
        transition: transform $transition-time;
    }

    &__callback-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 12px 20px;
    
        font-weight: 500;
        color: get-color('text');

        background-color: get-color('accent');
        border-radius: 25px;

        &:hover { 
            .modal-card__callback-icon {
                transform: translateX(2px);
            }
        }
    }

    &__callback-span {
        padding-right: 8px;
    }

    &__footer {
        margin-top: 30px;
    }

    &__tab-pane {
        padding: 20px 40px 0;

        @media (max-width: $break_sm) {
            padding: 20px 20px 0;
        }

        h3 {
            margin-bottom: 20px;
        }

        p {
            margin-top: 20px;
        }

        ul {
            list-style-type: circle;
            margin-left: 30px;
        }

        .modal-card__descr-img {
            margin-top: 40px;

            @media (max-width: $break_sm) {
                display: none;
            }
        }

        .modal-card__review-img {
            width: 30%;

            @media (max-width: $break_lg) {
                width: 100%;
            }
        }
    }

    &__review-content {
        margin-left: 50px;

        @media (max-width: $break_lg) {
            margin-left: 0;
        }
    }

    &__review-quote {
        font-style: italic;
        border-left: 3px solid rgba(0,0,0,.1);
        padding: 10px 20px;
    }
}

.tab-content > .tab-pane.active {
    display: block !important;
}

.tab-content > .modal-card__review.active {
    display: flex !important;
    align-items: center;

    @media (max-width: $break_lg) {
        flex-direction: column;
    }
}

.modal-card .nav-tabs .nav-link {
    color: get-color('text');
    text-transform: uppercase;
}

.modal-card .nav-tabs .nav-item.show .nav-link, .modal-card .nav-tabs .nav-link.active {
    color: #56a131;
    font-weight: 500;
}

.swiper.gallery-top {
    height: 350px;

    @media (max-width: 500px) {
        height: 200px;
    }
}

.swiper.gallery-thumbs {
    height: 100px;
    margin-top: 20px;

    @media (max-width: 500px) {
        height: 60px;
    }
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.gallery-thumbs__slide {
    opacity: 0.5;
}

.swiper-slide-thumb-active {
    opacity: 1;
}