.promo {
    padding: 100px 0;

    color: #fff;

    background: url('../../assets/images/promo/promo_bg.jpg') no-repeat 50% / cover;

    @media (max-width: $break_sm) {
        padding: 50px 0;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        max-width: 800px;

        >* {
            &:not(:last-child) {
                margin-bottom: 20px;
            }
        }
    }

    &__title {
        font-size: 38px;

        @media (max-width: $break_sm) {
            font-size: 30px;
        }
    }

    &__form {
        display: flex;
        flex-direction: row;

        @media (max-width: $break_sm) {
            flex-direction: column;
            width: 200px;
        }

        >* {
            padding: 12px 20px;

            border-radius: 20px;
        }
    }

    &__form-input {
        margin-right: 10px;

        border: none;
        outline: none;

        @media (max-width: $break_sm) {
            margin-right: 0;
            margin-bottom: 10px;
        }
    }

    &__form-icon {
        transition: transform $transition-time;
    }

    &__form-btn {
        display: flex;
        align-items: center;
        color: get-color('text');

        background-color: get-color('accent');

        transition: background-color $transition-time;

        &:hover {
            background-color: get-color('bgc_hover_link');

            .promo__form-icon {
                transform: translateX(3px);
            }
        }
    }

    &__form-text {
        margin-right: 5px;
    }
}